[Unit]
Description=Service for autostarting Cog on boot.
After=nginx.service weston.service

[Service]
Restart=always
RestartSec=2
Type=simple
Environment=WAYLAND_DISPLAY=/run/wayland-0 COG_PLATFORM_WL_VIEW_WIDTH="60" COG_PLATFORM_WL_VIEW_HEIGHT="70"
ExecStart=cog http://localhost:80

[Install]
WantedBy=graphical.target
