CONFIG_GCC_VERSION=120200
# CONFIG_VIDEO_BOCHS is not set
CONFIG_BMP=y
CONFIG_CMD_BMP=y
CONFIG_VIDEO_LOGO_MAX_SIZE=0x300000
CONFIG_BMP_16BPP=y
CONFIG_BMP_24BPP=y
CONFIG_BMP_32BPP=y
CONFIG_VIRTIO_GPU_SIZE_X=640
CONFIG_VIRTIO_GPU_SIZE_Y=480
